---
import Layout from "../../../layouts/Layout.astro";
import Card from "../../../components/Card.astro";

const allPosts = await Astro.glob('../../../content/posts/en/*.md');
const pageTitle = "Blog";

---
<Layout title={pageTitle}>
  <h1 class="text-white">Posts</h1>
  <ul>
    {allPosts.map((post) => {
      // Derive the URL for each post based on its file path
      const href = `/en/posts/${post.frontmatter.slug}`;  // Assuming the slug corresponds to the filename
      return <Card title={post.frontmatter.title} href={href} date={post.frontmatter.date} body="213" />;
    })}
  </ul>
</Layout>
