---
//import { getCollection } from 'astro:content';
import Layout from "../../../layouts/RusLayout.astro";
import Header from "../../../components/RusHeader.astro";
import Card from "../../../components/Card.astro";

const posts = await Astro.glob('../../../content/posts/ru/*.md');

// const posts = await getCollection('posts');

const pageTitle = "Посты";
---

<Layout title={pageTitle}>
  <Header/>
  
  <section class="container mx-auto py-10 px-6">
    <h1 class="text-4xl font-bold text-center text-white mb-8">{pageTitle}</h1>

    <ul class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
      {posts.map((post) => {
        const href = `/ru/posts/${post.frontmatter.slug}`;
        return (
          <Card 
            title={post.frontmatter.title} 
            href={href} 
            body={post.frontmatter.description} 
          />
        );
      })}
    </ul>
  </section>
</Layout>
